---
layout: page.njk
title: Fidget Camp 2025
---
<h1 id="top">Fidget Camp 2025</h1>
<p>85 campers, 500+ showcase attendees, June 21-29</p>
<a id="workshop-link" href="./#workshops">Jump to Workshops</a>

<div class="maincolumn">
    <div id="artwork">
        <h2>artwork</h2>
        {%- for p in collections.post -%}
            {% set post = p %}
            {% include "card.njk" %}
        {%- endfor -%}
        {# {% renderFile "./artwork.njk" %} #}
    </div>
    <div id="workshops">
        {% renderFile "./workshops.md" %}
    </div>
</div>

<br>
<a href="./#top">Go to Top</a>

